<main id="root" class="page layout">

  <aside class="sidebar text-M">
    <nav class="sidebar__profile-button">
      <a href="#/profile"> Профиль </a>
    </nav>
    <label class="sidebar__search">
      <input type="search" placeholder="Поиск" name="search" />
    </label>
    <ul class="sidebar__chat-list">
      {{#each chats}}
        <li class=" sidebar__chat-list__item {{#if this.isChosen}} sidebar__chat-list__item-chosen {{/if}} ">
          <div class="sidebar__chat-list__item__avatar"></div>
          <p class="sidebar__chat-list__item__name text-L"> {{this.name}} </p>
          <p class="sidebar__chat-list__item__text"> {{this.text}} </p>
          <p class="sidebar__chat-list__item__time text-S"> {{this.time}} </p> {{#if this.notifications}}
          <div class="sidebar__chat-list__item__notification"> {{this.notifications}} </div> {{/if}} </li>
        <hr />
      {{/each}}
    </ul>
  </aside>

  <section class="chat">
    <div class="chat__header">
      <div class="chat__header__interlocutor">
        <div class="chat__header__interlocutor-avatar"></div>
        <p class="chat__header__interlocutor-name text-L"> Вадим </p></div>
      <button class="chat__header__options" type="button">
        <svg width="3" height="15" viewBox="0 0 3 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="1.5" cy="1.5" r="1.5" fill="#f333a9" />
          <circle cx="1.5" cy="7.5" r="1.5" fill="#f333a9" />
          <circle cx="1.5" cy="13.5" r="1.5" fill="#f333a9" />
        </svg>
      </button>
    </div>

    <div class="chat__body" id="chatBody">
      {{#each messageGroups}}
        <section class="chat__body__block text-M"><p class="chat__body__block__date"> {{this.date}} </p>
          {{#each this.messages}}
            <div class=" chat__body__block__text {{#if this.isSent}} chat__body__block__text-sent {{else}} chat__body__block__text-received {{/if}} ">
              <p> {{this.text}} </p>
              <p class="chat__body__block__text_time-space text-S"> {{this.time}} </p></div>
          {{/each}}
        </section>
      {{/each}}
    </div>

    <form class="chat__bar">
      <label class="chat__bar__input text-M">
        <input type="text" name="message" placeholder="Сообщение" />
      </label>

      <button type="submit" class="chat__bar__send-button">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="14" cy="14" r="14" fill="#3369F3" />
          <rect x="8" y="13.2" width="11" height="1.6" fill="white" />
          <path d="M15 9L19 14L15 19" stroke="white" stroke-width="1.6" />
        </svg>
      </button>
    </form>
  </section>
</main>
