<div class="auth">
  <h1 class="auth__title text-XL">
    {{title}}
  </h1>

  <form class="auth__body text-L">
    {{#each fields}}
      <label class="auth__body__label">
        <input
          class="auth__body__input"
          type="{{this.type}}"
          name="{{this.name}}"
          placeholder="{{this.label}}"
        />
      </label>
    {{/each}}
  </form>

  <div class="auth__footer">
    <button class="auth__footer__submit text-M">
      {{buttonText}}
    </button>

    <a href="{{linkHref}}" class="auth__footer__link text-S">
      {{linkText}}
    </a>
  </div>
</div>